@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 100vh;
    background-size: cover;
    font-family: "bree serif";
    text-align: center;
    padding: 15px;
}

.sleep-container {
    margin-top: 70px;
}

.home-page-main-heading {
    color: #ffffff;
    font-size: 24px;
}

.home-page-description {
    color: #ffffff;
    font-size: 13px;
}

.night-bg-image {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 25vh;
    background-size: cover;
    margin-top: 150px;
}

.night-bg-heading {
    color: #ffe7bf;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}

.night-description {
    color: #ffffff;
    font-size: 14px;
}

.btn {
    color: #ffe7bf;
    background-color: #8e97fd;
    border-style: none;
    border-radius: 24px;
    font-size: 14px;
}

.details-page-bg-container {
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height: 100vh;
    background-size: cover;
    font-family: "bree serif";
}

.top-image {
    height: 40vh;
    width: 100vw;
    background-size: cover;
}

.details-page-bottom-container {
    padding: 15px;
}

.details-page-bottom-container-main-heading {
    color: #ffffff;
    font-size: 25px;
}

.details-page-bottom-container-description {
    color: #98a1bd;
    font-size: 13px;
}

.details-page-bottom-container-side-heading {
    color: #ffffff;
}

.image-item {
    margin-top: -10px;
    margin-right: 10px;
}

.bottom-image {
    height: 100px;
    width: 130px;
}

.min-sleep {
    margin-top: -8px;
}

.button {
    width: 90px;
    font-size: 14px;
}